.section{
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 15px;
}

/* ------------  Lesson Title  ------------ */

.lesson{
    margin-bottom: 20px;
    color: #F0A15F
}

.lesson span{
    font-weight: bold;
}

/* ------------  Section Name  ------------ */

.sectionName{
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 225px;
    max-height: 30px;
    padding: 5px 5px 10px 10px;
    font-size: 14px;
    background-color: #7B0C79;
    color: white;
}

/* ------------  Exercise Section  ------------ */

.exerciseSection{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #FCF7F9;
}

/* ------------  Tasks/Indications  ------------ */

.exerciseTask{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8px;
    margin-bottom: 7px;
}

.exerciseTask h4{
    font-weight: 400;
}

.exerciseTask span{
    font-weight: 700;
    color: #81177F;
}

/* ------------  step - <textarea> pairs  ------------ */
.pair{
    display: flex;
    margin-bottom: 19px;
    color: #7C0F7A;
}

.pair textarea{
    width: 677px;
    border: none;
    resize: none;
    background-color: #C991BA;
    color:white
}

.pair textarea:focus{
    outline:none;
}

.step{
    width: 270px;
    min-height: 42px;
    margin-right: 30px;
    padding-left: 25px;
    text-align: left;
}

.step ul{
    padding-left: 0px;
    margin: 0;
}

.step li{
    display: flex;
    justify-self: center;
    align-items: center;
    list-style-type: none;
}

.step span{
    display: flex;
    justify-self: center;
    align-items: center;
}

.step span::after{
    content: "a";
    padding: 4px 4px 4px 4px;
    margin-top: 3px;
    margin-right: 5px;
    font-size: 1px;
    background-color: #C891B9;
    color: #C891B9;
}

.stepTwo{
    width: 270px;
    min-height: 42px;
    margin-right: 30px;
    padding-left: 25px;
    text-align: left;
}


/* --------------------  Media Queries  -------------------- */

@media only screen and (max-width: 768px){
    .exerciseSection{
        box-sizing: border-box;
        max-width: 768px;
        padding: 4px;
    }
    .exerciseTask{
        max-width: 768px;
        padding-left: 0px;
    }
    .exerciseTask:first-child{
        margin-bottom: 19px;
    }
    .exerciseBody{
        width: 95%;
        margin: 0 auto;
    }
    .exercise{
        flex-direction: row;
    }
    .pair{
        flex-direction: column;
    }

    .pair textarea{
        width:100%;
    }
    .step{
        margin-bottom: 20px;
    }
}