.header{
    display: flex;
    min-height: 76px;
    margin-bottom: 45px;
}

.headerSideLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    text-align: center;
    background-color: #DF2836;
    color: white;
}

.headerCenter{
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding: 6px;
    text-align: end;
    background-color: #F2EFEE;
    color: #A6579A;
}

.headerSideRight{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    text-align: center;
    background-color: #7B0C79;
    color: white;
}

/* --------------------  Media Queries  -------------------- */

@media only screen and (max-width: 414px){
    h1{
        text-align: center;
        font-size: 25px;
    }
}